.certifications {
  margin-bottom: 3rem;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #333;
  vertical-align: middle;
  overflow-wrap: break-word;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 20%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 45%;
}

.badgeCell {
  width: 35%;
}

.badge {
  display: block;
  width: 100%;
  height: auto;
}
