.certifications {
  margin-bottom: 3rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #333;
  vertical-align: middle;
}

.badgeCell {
  width: 1%;
}

.badge {
  display: block;
  width: 100%;
  height: auto;
}
